.is-rounded-lg {
    border-radius: 5rem;
}

.is-rounded-sm {
    border-radius: 5rem;
}

.is-squared-lg {
    border-radius: 0.8rem;
}

.is-squared-sm {
    border-radius: 0.3rem;
}

.text-sm {
    font-size: 1.2rem;
}

.text-md {
    font-size: 1.5rem;
}

.text-lg {
    font-size: 2rem;
}

.p-sm {
    padding: 0.8rem 2.5rem;
}

.p-md {
    padding: 1rem 3rem;
}

.p-lg {
    padding: 1.5rem 4rem;
}

.text-clear {
    color: $light;
}

.text-dark {
    color: $dark-blue;
}
