$primary: hsl(180, 66%, 49%);
$primary-dark: hsl(257, 27%, 26%);

$secondary: hsl(0, 87%, 67%);

$light: #fff;
$neutral: hsl(0, 0%, 75%);
$neutral-violet: hsl(257, 7%, 63%);
$dark-blue: hsl(255, 11%, 22%);
$dark-violet: hsl(260, 8%, 14%);
$bg-gray: #eff1f7;

$max-width: 1200px;
$margin-body: 2rem;

// Responsive Breakpoints
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
